body {
    font-family: 'Gelasio', sans-serif; 
    background-color: #162521;
    text-align: center;
    padding: 50px;
}
p {
    color: #9AAEAD; /* Un arancione vivace */
    font-size: 20px; /* Opzionale: lo rende anche più grande */
}
header h1 {
     color: #9AAEAD;
     /* color: #f4f4f4; */
}

button {
    background-color: #A24D5D;
    color: #9AAEAD;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #A24D5D;
}

.container {
    display: flex;
    justify-content: space-around; /* Distribuisce gli elementi */
    align-items: center;
    flex-wrap: wrap; /* Fondamentale per il cellulare! */
    padding: 20px;
}

/* Rimuovi i margini predefiniti del browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Spinge logo e link ai lati opposti */
    align-items: center;
    background-color: #3C474B;
    color: #9AAEAD;
    top: 0;
    z-index: 1000;
    /* padding: 1rem 5%;*/
    padding: 10px 40px;
    border-radius: 50px;
    width: 90%;
    margin: 20px auto; /* Centra la navbar */
    position: sticky; /* La tiene fissa in alto mentre scorri */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Aggiunge un'ombra per un effetto di profondità */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    list-style: none; /* Rimuove i pallini della lista */
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    display: inline-block; /* FONDAMENTALE per far vedere lo sfondo e il padding */
    padding: 8px 15px;
    border-radius: 20px;
    color: #9AAEAD;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background-color: #157A6E !important; /* L'uso di !important serve a forzare il colore se c'è un conflitto */
    color: white !important;
}

.nav-icon {
    width: 40px;      /* Larghezza */
    height: auto;     /* Mantiene le proporzioni */
    margin-right: 10px; /* Spazio tra immagine e testo */
    vertical-align: middle; /* Allinea l'immagine al centro del testo */
}

/* Quando lo schermo è più stretto di 600px... */
@media (max-width: 600px) {
    body {
        padding: 10px;
        font-size: 14px;
    }
    .container {
        flex-direction: column; /* Gli elementi tornano uno sopra l'altro */
    }
    .navbar {
        flex-direction: column; /* Mette logo sopra e link sotto */
        text-align: center;
    }
    .nav-links {
        margin-top: 10px;
    }
    .nav-links li {
        margin: 5px 10px;
    }
}